.about {
    margin: 8rem 6rem 3rem 6rem;
    padding-right: 42rem;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tab-items-account {
    height: 40%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tab-items-wrapper {
    width: 16rem;
    max-width: 16rem;
    border-right: solid 1px #ccc;
}

.tab-items-account-img-wrapper {
    height: 70%;
    width: 100%;
}

.tab-items-account-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.tab-items-account-name {
    height: 30%;
}

.tab-items-buttons {
    height: 60%;
    width: 100%;
}

.notifications-wrapper {
    padding-top: 2rem;
}